body {
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    background-color: #fafafa;
}

.white {
    background-color: white;
    color: #111517;
}

.dark {
    background-color: #202c37;
	color: white;
}
.btn {
    --bs-btn-font-weight: 600;
}

header h1{
    padding-top: 0.45rem;
    padding-bottom: 0.25rem;
}
.btn-group-sm >.btn {
    --bs-btn-padding-x: 1.7rem;
    --bs-btn-padding-y: 0.4rem;
}

.dropdown-menu {
    --bs-dropdown-min-width: 11rem;
}

.card-img-top {
    height: 25vh;
    object-fit: cover;
}

h5 {
    font-size: 1.0rem;
}
h6 {
    font-size: 0.75rem;
}


  